<h2>LISTA DE UNIVERSIDADES</h2>

<table border="2">
    <thead>
        <tr>
            <td>Nombre Universidad</td>
            <td>email</td>
            <td>Eliminar</td>
            <td>Ver</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let universidad of listaUniversidades">
            <td>{{universidad.nombreUniversidad}}</td>
            <td>{{universidad.email}}</td>
            <td>
                <button (click)="Eliminar(universidad._id)">
            <img height="20" src="../../../assets/imagenes/vcsconflicting_93497.png">
          </button>
            </td>
            <td>
                <button (click)="Ver(universidad)">
                <img height="20" src="../../../assets/imagenes/loupe_79257.png">
              </button>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
<table>
    <tr>
        <td>Nombre Universidad:</td>
        <td>
            <input type="text" name="nombreUniversidad" [(ngModel)]="universidad.nombreUniversidad">
        </td>
    </tr>
    <tr>
        <td>email:</td>
        <td>
            <input type="text" name=" email " [(ngModel)]="universidad.email ">
        </td>
    </tr>
    <td>
        <hr/>
    </td>
    <td>
        <hr/>
    </td>
    <tr>
        <td>
            <button (click)="Guardar()">Guardar</button>
        </td>
        <td>
            <button (click)="LimpiarFormulario()">Limpiar Formulario</button>
        </td>
    </tr>
</table>
