<h2>LISTA DE USUARIOS</h2>

<table border="2">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Número Contacto</td>
            <td>email</td>
            <td>Posgrados de Interes</td>
            <td>Eliminar</td>
            <td>Ver</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
            <td>{{usuario.nombreUsuario}}</td>
            <td>{{usuario.numeroContacto}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.posgradosDeInteres}}</td>
            <td>
                <button (click)="Eliminar(usuario._id)">
            <img height="20" src="../../../assets/imagenes/vcsconflicting_93497.png">
          </button>
            </td>
            <td>
                <button (click)="Ver(usuario)">
                <img height="20" src="../../../assets/imagenes/loupe_79257.png">
              </button>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
<table>
    <tr>
        <td>Nombre Usuario:</td>
        <td>
            <input type="text" name="nombreUsuario" [(ngModel)]="usuario.nombreUsuario">
        </td>
    </tr>
    <tr>
        <td>Número Contacto:</td>
        <td>
            <input type="text" name="numeroContacto" [(ngModel)]="usuario.numeroContacto">
        </td>
    </tr>
    <tr>
        <td>email:</td>
        <td>
            <input type="text" name="email" [(ngModel)]="usuario.email">
        </td>
    </tr>
    <tr>
        <td>Posgrados de Interes:</td>
    </tr>
    <tr>
        <td>Nombre Posgrado</td>
    </tr>
    <td>
        <hr/>
    </td>
    <td>
        <hr/>
    </td>
    <tr>
        <td>
            <button (click)="Guardar()">Guardar</button>
        </td>
        <td>
            <button (click)="LimpiarFormulario()">Limpiar Formulario</button>
        </td>
    </tr>
</table>
